extends layout 
block content 
    #banner.page-header 
        .row 
            .col-lg-6 
                h1 B-Rating 
                    small &nbsp; Найди книгу по своему вкусу
        .row 
            .col-xs-12.col-sm-8 
                .row.list-group 
                    .col-xs-12.lost-group-item 
                        h4 
                            a(href='/book') Властелин колец
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                            span.badge.pull-right.badge-default Лучшая цена 1200p 
                        p.address https://superbook.com 
                        p 
                            span.label.label-warning Фэнтези
                            | &nbsp;
                            span.label.label-warning Драма 
                            | &nbsp;
                            span.label.label-warning Д.Р.Р.Толкин
                            | &nbsp;
            .col-xs-12.col-sm-4 
                p.lead Здесь вы можете найти книгу по своему вкусу и добавить на нее отзыв!
            .col-xs-12.col-sm-8 
                .row.list-group 
                    .col-xs-12.lost-group-item 
                        h4 
                            a(href='/book') Песнь льда и огня
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                            span.badge.pull-right.badge-default Лучшая цена 1800p 
                        p.address https://superbook.com 
                        p 
                            span.label.label-warning Фэнтези
                            | &nbsp;
                            span.label.label-warning Драма 
                            | &nbsp;
                            span.label.label-warning Дж.Мартин
                            | &nbsp;
            .col-xs-12.col-sm-8 
                .row.list-group 
                    .col-xs-12.lost-group-item 
                        h4 
                            a(href='/book') Меч и Радуга
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                            span.badge.pull-right.badge-default Лучшая цена 900p 
                        p.address https://superbook.com 
                        p 
                            span.label.label-warning Фэнтези
                            | &nbsp;
                            span.label.label-warning Драма 
                            | &nbsp;
                            span.label.label-warning Мэделайн Симмонс
                            | &nbsp;
            .col-xs-12.col-sm-8 
                .row.list-group 
                    .col-xs-12.lost-group-item 
                        h4 
                            a(href='/book') Гарри Поттер
                            small &nbsp;
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                            span.badge.pull-right.badge-default Лучшая цена 7200p 
                        p.address https://superbook.com 
                        p 
                            span.label.label-warning Фэнтези
                            | &nbsp;
                            span.label.label-warning Драма 
                            | &nbsp;
                            span.label.label-warning Д.Роулинг
                            | &nbsp;



            