extends layout
block content 
    #banner.page-header 
        .row 
            .col-md-6.col-sm-12 
                h1= thistle
        .row 
            .col-md-6.col-sm-12 
                p 
                    | Приложение B-Rating призвано помочь вам в выборе подходящей литуратуры 
                    | <br/><br/>
                    | Здесь вы всегда можете отыскать то, что ищете!